<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
<h1 class = "mb-4">Movie Lists </h1>

</div>
</div>


   <% @lists.each do |list| %>
   <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"> <%= link_to list.name, list %></h5>




</div>
</div>

   <% end %>


<%= link_to " create a new list", new_list_path %>
